BasedOnStyle: LLVM
IndentWidth: 4
ColumnLimit: 150
AccessModifierOffset: -4
AllowShortFunctionsOnASingleLine: Inline
BreakBeforeBraces: Attach
SpaceAfterTemplateKeyword: false
PointerAlignment: Left
NamespaceIndentation: None
